{% include 'header.html' %}
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/404.css' %}?v=1.0">
</head>
<body>
    <div class="error-page">
        <h1>OOPS! PÀGINA NO TROBADA</h1>
        <img class="error-picture" src="{% static 'img/error_404.png' %}" alt="Error 404">
        <p>Ho sentim, però no s'ha trobat la pàgina que has sol·licitat.</p>
        <button onclick="location.href='{% url 'index' %}'">TORNAR A LA PÀGINA PRINCIPAL</button>
    </div>
</body>
{% include 'footer.html' %}