{% include 'header.html' %}
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}?v=1.0">
    <script src="{% static 'js/login.js' %}" defer></script>
</head>
<body>
    <div class="logo-container">
        <img class="logo" src="{% static 'img/assassi-pinça.png' %}" alt="Assassí de la Pinça">
    </div>
    <form method="post" class="container" id="login-form">
        <h1>L'Assassí de la Pinça</h1>
        <p class="message" id="login-info">Introdueix el teu codi i data de naixement per iniciar sessió.</p>
        {% if form.non_field_errors %}
        <p class="message" id="login-error">{{ form.non_field_errors|join:" " }}</p>
        {% endif %}
        {% csrf_token %}
        
        <!-- Code Input Section -->
        <div>
            <label for="code-input-1">Codi:</label>
            <div class="code-inputs">
                {% for i in "12345" %}
                <input type="number" id="code-input-{{ i }}" maxlength="1" value="{{ form.code.value|default_if_none:'' }}">
                {% endfor %}
            </div>
            <input type="hidden" name="code" id="code" value="{{ form.code.value|default_if_none:'' }}">
        </div>
        
        <!-- Birth Date Input Section -->
        <div>
            <label for="birth-date-input-1">Data de Naixement:</label>
            <div class="birth-date-inputs">
                <input type="number" id="birth-date-input-1" maxlength="2" placeholder="dd">
                <input type="number" id="birth-date-input-2" maxlength="2" placeholder="mm">
                <input type="number" id="birth-date-input-3" maxlength="4" placeholder="aaaa">
            </div>
            <input type="hidden" name="birth_date" id="birth_date" value="{{ form.birth_date.value|default_if_none:'' }}">
        </div>
        
        <input type="hidden" name="session_cookie" id="session_cookie">
        <button type="submit" disabled>Iniciar Sessió</button>
    </form>
</body>
{% include 'footer.html' %}