<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joc de l'Espàrrek</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <div>
        <form method="post">
            <h1>Joc de l'Espàrrek</h1>
            <p class="info-message">Introdueix el codi que trobaràs a la teva acreditació i la teva data de naixement per iniciar sessió.</p>
            {% csrf_token %}
            <div>
                <label for="{{ form.code.id_for_label }}">Codi:</label>
                {{ form.code }}
            </div>
            <div>
                <label for="{{ form.birth_date.id_for_label }}">Data de Naixement:</label>
                {{ form.birth_date }}
            </div>
            <input type="hidden" name="session_cookie" id="session_cookie">
            <button type="submit">Iniciar Sessió</button>
        </form>
        <img src="{% static 'img/logo_mcecc.png' %}" alt="Logo MCECC">
    </div>
    <script src="{% static 'ts/login.ts' %}"></script>
</body>
</html>
