<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sessió</title>
</head>
<body>
    <h1>Iniciar Sessió al Joc de l'Espàrrek</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.code }}
        {{ form.birth_date }}
        <input type="hidden" name="session_cookie" id="session_cookie">
        <button type="submit">Iniciar Sessió</button>
    </form>
    <script>
        document.getElementById('session_cookie').value = document.cookie.replace(/(?:(?:^|.*;\s*)sessionid\s*\=\s*([^;]*).*$)|^.*$/, "$1");
    </script>
</body>
</html>
