{% include 'header.html' %}
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/menu.css' %}?v=1.0">
</head>
<body>
    <div class="logo-container">
        <img class="logo" src="{% static 'img/assassi-pinça.png' %}" alt="Assassí de la Pinça">
    </div>
    <div class="container">
        <h1>L'Assassí de la Pinça</h1>
        
        <!-- Buttons List Section -->
        <div class="buttons-list">
            <a href="{% url 'rules' %}" class="rules">Normativa</a>
            <a href="{% url 'profile' %}" class="profile">Perfil</a>
            <a href="{% url 'victim' %}" class="victim">Víctima</a>
            <a href="{% url 'ranking' %}" class="ranking">Rànquing</a>
            <a href="{% url 'cemetery' %}" class="cemetery">Cementiri</a>
        </div>
    </div>
</body>
{% include 'footer.html' %}
