{% include 'header.html' %}
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}?v=1.0">
</head>
<body>
    <!-- Go Back Button Section -->
    <div class="go-back-container">
      <a href="{% url 'index' %}" class="go-back-button">❮ Tornar al Menú</a>
    </div>

    <div class="container">
        <h1>Perfil del Jugador/a</h1>

        <!-- Player Information Section -->
        <div id="player-info">
            <h2>{{ player.name }}
                {% if player.status == "dead" or player.status == "banned" %}
                <span class="dead-player">✝</span>
                {% elif player.status == "last_player_standing" %}
                <span>🏆</span>
                {% endif %}
            </h2>
        </div>

        <img class="symbol-picture" src="{% static 'img/assassi-pinça.png' %}" alt="Imatge de Pinça" loading="lazy">
    </div>
</body>
{% include 'footer.html' %}