<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil d'Usuari</title>
</head>
<body>
    <h1>Benvingut/da, {{ user.first_name }} {{ user.last_name }}</h1>
    <p>Aquesta és la teva pàgina de perfil.</p>
    <a href="{% url 'logout' %}">Tancar Sessió</a>
    <p>Esplai: {{ user.esplai }}</p>
    <p>Territori/Zona: {{ user.territori_zona }}</p>
    {% if user.profile_picture %}
        <br><img src="{{ user.profile_picture.url }}" alt="Foto de perfil", width="600px">
    {% else %}
        <p>No has pujat una foto de perfil.</p>
    {% endif %}
    <form method="post" enctype="multipart/form-data" id="profile-form">
        {% csrf_token %}
        <input type="file" name="profile_picture" accept="image/*" capture="user" id="profile-picture-input">
        <button type="submit" id="submit-button" disabled>
            {% if user.profile_picture %}
                Actualitzar la foto de perfil
            {% else %}
                Penjar la foto de perfil
            {% endif %}
        </button>
        {% if user.profile_picture %}
            <button type="submit" name="remove_picture" id="remove-button">Eliminar la foto de perfil</button>
        {% endif %}
    </form>
    <script>
        document.getElementById('profile-picture-input').addEventListener('change', function() {
            document.getElementById('submit-button').disabled = !this.files.length;
        });
    </script>
</body>
</html>
