{% include 'header.html' %}
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}?v=1.0">
    <link rel="stylesheet" href="{% static 'css/popup.css' %}?v=1.0">
    <script src="{% static 'js/profile.js' %}" defer></script>
    <script src="{% static 'js/popup.js' %}" defer></script>
</head>
<body>
    <!-- Go Back Button Section -->
    <div class="go-back-container">
        <a href="{% url 'index' %}" class="go-back-button">❮ Tornar al Menú</a>
        <button class="popup-button" onclick="togglePopup()">
            <img src="{% static 'img/logout.svg' %}" alt="Logout Icon" class="popup-button-icon">
            Tancar Sessió
        </button>
    </div>

    <!-- Logout Popup -->
    <div id="popup-container" class="popup-container">
        <div class="popup-picture-container">
            <img class="popup-picture" src="{% static 'img/logout.png' %}" alt="Imatge de Tancar Sessió" loading="lazy">
        </div>
        <h3>Estàs segur que vols tancar sessió?</h3>
        <div id="popup-button-container" class="popup-button-container multiple-options">
            <button class="secondary-button" onclick="togglePopup()">Cancel·lar</button>
            <button class="main-button" onclick="location.href='{% url 'logout' %}'">Tancar Sessió</button>
        </div>
    </div>

    <!-- Backdrop -->
    <div id="backdrop" class="backdrop" onclick="togglePopup()"></div>

    <form method="post" enctype="multipart/form-data" id="profile-form" class="container">
        <h1>El teu perfil</h1>

        <!-- Player Information Section -->
        <div id="player-info">
            <h2>{{ user.name }}
                {% if user.status == "dead" or user.status == "banned" %}
                <span class="dead-player">✝</span>
                {% elif user.status == "last_player_standing" %}
                <span>🏆</span>
                {% endif %}
            </h2>
            <p>{{ user.esplai }}</p>
            <p>{{ user.territori_zona }}</p>
        </div>

        <!-- Profile Picture Section -->
        {% if user.profile_picture %}
            <img class="profile-picture" src="{{ user.profile_picture }}" alt="Imatge de Perfil" loading="lazy">
        {% else %}
            <div class="profile-picture-placeholder">
                <p>Penja una fotografia al teu perfil per a poder participar al joc.</p>
            </div>
        {% endif %}
        {% csrf_token %}
        
        <!-- File Input Section -->
        <div>
            <input type="file" name="profile_picture" accept="image/*" capture="user" id="profile-picture-input" data-content="{% if user.profile_picture %}Actualitzar{% else %}Penjar{% endif %} Fotografia">
        </div>
    </form>
</body>
{% include 'footer.html' %}