{% include 'header.html' %}
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/ranking.css' %}?v=1.0">
    <link rel="stylesheet" href="{% static 'css/tables.css' %}?v=1.0">
    <link rel="stylesheet" href="{% static 'css/popup.css' %}?v=1.0">
    <script src="{% static 'js/ranking.js' %}" defer></script>
</head>
<body>
    <!-- Go Back Button Section -->
    <div class="go-back-container">
        <a href="{% url 'index' %}" class="go-back-button">❮ Tornar al Menú</a>
        <button class="popup-button" onclick="toggleInfoPopup()">ℹ️ Puntuació</button>
    </div>

    <!-- Info Popup -->
    <div id="popup-container" class="popup-container">
        <h2>Càlcul de la puntuació</h2>
        <p>La puntuació de cada jugador es calcula com una suma ponderada en funció del caràcter de les seves víctimes:</p>
        <ul>
            <li><b>100</b> - Companys de centre d'esplai</li>
            <li><b>150</b> - Companys de territori/zona</li>
            <li><b>200</b> - Cas general</li>
            <li><b>1000</b> - Últim jugador viu</li>
        </ul>
        <div id="popup-button-container" class="popup-button-container">
            <button class="main-button" onclick="toggleInfoPopup()">Tancar</button>
        </div>
    </div>

    <!-- Backdrop -->
    <div id="backdrop" class="backdrop" onclick="toggleInfoPopup()"></div>

    {% if player_details %}
        <div class="container">
            <h1>Ranking</h1>
            <div class="table-container">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Assassí</th>
                            <th>Morts</th>
                            <th>Punts</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in player_details %}
                            <tr class="{% if forloop.first %}gold{% elif forloop.counter == 2 %}silver{% elif forloop.counter == 3 %}bronze{% elif entry.is_self %}self-user{% endif %}">
                                <td>
                                    {% if forloop.first %}
                                        🥇
                                    {% elif forloop.counter == 2 %}
                                        🥈
                                    {% elif forloop.counter == 3 %}
                                        🥉
                                    {% else %}
                                        {{ forloop.counter }}
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'profile' %}">{{ entry.full_name }}
                                        {% if entry.player.status == "dead" %}
                                        <span class="dead-player">✝</span>
                                        {% elif entry.player.status == "last_player_standing" %}
                                        <span>🏆</span>
                                        {% endif %}
                                    </a>
                                </td>
                                <td>{{ entry.total_victims }}</td>
                                <td><b>{{ entry.total_points }}</b></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <div class="container">
            <h1>Ranking</h1>
            <h2>Encara no s'ha registrat cap assassinat...</h2>
            <img class="symbol-picture" src="{% static 'img/espera.png' %}" alt="Imatge d'Espera" loading="lazy">
        </div>
    {% endif %}
</body>
{% include 'footer.html' %}