{% include 'header.html' %}
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/rules.css' %}?v=1.0">
</head>
<body>
    <!-- Go Back Button Section -->
    <div class="go-back-container">
      <a href="{% url 'index' %}" class="go-back-button">❮ Tornar al Menú</a>
    </div>

    <div class="container">
        <h1>Normativa del Joc</h1>
    
        <div class="rules-container">
            <h2>📸 Registre</h2>
            <p>Abans que comenci el joc, <b>penja una foto teva</b> al <b><a href="{% url 'profile' %}">Perfil</a></b> per validar la teva participació.</p>

            <h2>🎯 Assignació</h2>
            <p>Quan el joc comenci, la web t'assignarà una <b>víctima a qui hauràs d'eliminar</b>.</p>

            <h2>💀 Eliminació</h2>
            <p>Has de <b>tocar</b> la teva víctima amb un <b>espàrrec de cara</b>. Tots dos heu de <b>confirmar-ho a la web</b> a l'apartat de <b><a href="{% url 'victim' %}">Víctima</a></b>.</p>

            <h2>⏳ Duració</h2>
            <p>El joc es desenvolupa entre les <b>11:00 h i les 23:30 h</b>. Totes les eliminacions s'han de realitzar dins d'aquest horari.</p>

            <h2>🏆 Guanyador/a</h2>
            <p>Guanya l'<b>últim jugador/a en peu</b> i/o qui hagi acumulat <b>més víctimes</b> quan acabi el temps.</p>
        </div>
    </div>
    
</body>
{% include 'footer.html' %}