{% include 'header.html' %}
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}?v=1.0">
    <link rel="stylesheet" href="{% static 'css/victim.css' %}?v=1.0">
    <link rel="stylesheet" href="{% static 'css/popup.css' %}?v=1.0">
    <script src="{% static 'js/victim.js' %}" defer></script>
    <script src="{% static 'js/popup.js' %}" defer></script>
</head>
<body>
    <!-- Go Back Button Section -->
    <div class="go-back-container">
      <a href="{% url 'index' %}" class="go-back-button">❮ Tornar al Menú</a>
      <button class="popup-button" onclick="togglePopup()">💀 Víctimes</button>
    </div>

    <!-- Victims Popup -->
    <div id="popup-container" class="popup-container">
        <h2>Les teves víctimes</h2>
        {% if victims_history %}
        <p>Aquí pots veure les víctimes que has assassinat durant el joc:</p>
        <ul class="victim-history">
          {% for victim in victims_history %}
            <li><b>{{ victim.victim.name }}</b> ({{ victim.victim.esplai }})</li>
          {% endfor %}
        </ul>
        {% elif status == "dead" or status == "banned" %}
          <p>No has assassinat a cap jugador/a.</p>
        {% else %}
          <p>Encara no has assassinat a cap jugador/a.</p>
        {% endif %}
        <div id="popup-button-container" class="popup-button-container">
          <button class="main-button" onclick="togglePopup()">Tancar</button>
        </div>
    </div>

    <!-- Backdrop -->
    <div id="backdrop" class="backdrop" onclick="togglePopup()"></div>

    <div class="container">
        <!-- Player Pending Registration Section -->
        {% if status == "pending_registration" %}
          <h1>Penja una fotografia!</h1>
          <p>Un cop pengis la teva fotografia, formaràs part del joc quan arribi l'hora de començar.</p>
          <div class="no-victim">
            <img class="symbol-picture" src="{% static 'img/alerta.png' %}" alt="Imatge d'Alerta" loading="lazy">
          </div>
          <a href="{% url 'profile' %}" class="profile-button">Anar al Perfil</a>

        <!-- Player Waiting for Game to Start Section -->
        {% elif status == "waiting_for_circle" %}
          <h1>Esperant a que comenci el joc...</h1>
          <p>Quan comenci el joc podràs veure la informació de la teva víctima.</p>
          <div class="no-victim">
            <h2 id="countdown"></h2>
            <img class="symbol-picture" src="{% static 'img/rellotge.png' %}" alt="Imatge de Rellotge" loading="lazy">
          </div>

        <!-- Player Not Playing Section -->
        {% elif status == "not_playing" %}
          <h1>No estàs jugant</h1>
          <p>No pots participar al joc perquè no has penjat una fotografia.</p>
          <div class="no-victim">
            <img class="symbol-picture" src="{% static 'img/prohibit.png' %}" alt="Imatge de Parada" loading="lazy">
          </div>
          <p>Si creus que això és un error, contacta amb l'organització.</p>

        <!-- Player Alive - Victim Information Section -->
        {% elif status == "alive" and victim %}
          <h1>Perfil de la Víctima</h1>
          <div id="player-info">
              <h2>{{ victim.name }}</h2>
              <p>{{ victim.esplai }}</p>
              <p>{{ victim.territori_zona }}</p>
          </div>

          <!-- Profile Picture Section -->
          {% if victim.profile_picture %}
              <img class="profile-picture" src="{{ victim.profile_picture }}" alt="Imatge de Perfil" loading="lazy">
          {% else %}
              <div class="profile-picture-placeholder">
                  <p>La víctima no té una fotografia de perfil.</p>
              </div>
          {% endif %}
          
          <!-- Kill Confirmation Section -->
          {% if victim.status == "alive" %}
            <form method="post" action="{% url 'request_kill' %}">
                {% csrf_token %}
                <button type="submit" id="kill-button" class="request-kill-button">Confirmar Assassinat</button>
            </form>
            <p id="pause-message" hidden>⚠️<b>Recorda</b>: No pots confirmar assassinats mentre el joc està pausat.</p>
            <p id="finish-message" hidden>⚠️<b>Recorda</b>: No pots confirmar assassinats perquè el joc ha acabat.</p>
          {% else %}
            <form method="post" action="{% url 'revert_kill' %}">
              {% csrf_token %}
              <button type="submit" class="request-kill-button" disabled>Esperant Confirmació...</button>
              <button type="submit" class="request-kill-button">Revertir Assassinat</button>
            </form>
            <p>⚠️<b>Recorda</b>: L'assassinat només serà vàlid si la víctima ho confirma!</p>
          {% endif %}

        <!-- Profile Pending Death Confirmation Section -->
        {% elif status == "pending_death_confirmation" or status == "dead" or status == "banned" %}
          {% if status == "pending_death_confirmation" %}
            <h1>Assassinat pendent de confirmació...</h1>
          {% else %}
            <h1>Oops! Estàs mort...</h1>
          {% endif %}
          <div class="no-victim">
              <img class="symbol-picture" src="{% static 'img/calavera_mort.png' %}" alt="Imatge de Mort" loading="lazy">
          </div>
          {% if status != "banned" %}
          <div id="killer-info">
              <h2>Assassí: {{ killer.name }}</h2>
          </div>
          {% endif %}
          {% if status == "pending_death_confirmation" %}
            <form method="post" action="{% url 'confirm_death' %}">
                {% csrf_token %}
                <button type="submit" class="confirm-kill-button">Confirmar Mort</button>
            </form>
            <form method="post" action="{% url 'discard_death' %}">
                {% csrf_token %}
                <button type="submit" class="discard-kill-button">Descartar Mort</button>
            </form>
          {% else %}
            <div>
              <a href="{% url 'ranking' %}" class="ranking-button">Veure Rànquing</a>
              <a href="{% url 'cemetery' %}" class="cemetery-button">Veure Cementiri</a>
            </div>
          {% endif %}

        <!-- Last Player Standing Section -->
        {% elif status == "last_player_standing" %}
          <h1>Felicitats! Ets l'últim jugador/a viu!</h1>
          <div class="last-standing">
              <img class="symbol-picture" src="{% static 'img/trofeu.png' %}" alt="Últim Jugador Viu" loading="lazy">
          </div>
          <div>
              <a href="{% url 'ranking' %}" class="ranking-button">Veure Rànquing</a>
              <a href="{% url 'cemetery' %}" class="cemetery-button">Veure Cementiri</a>
          </div>
        {% endif %}
    </div>
</body>
{% include 'footer.html' %}