.error-page {
    max-width: 500px;
    text-align: center;
}

.error-picture {
    max-width: 75%;
    height: auto;
    margin-bottom: 1rem;
}

button {
    margin-top: 1rem;
    padding: 1rem 2rem;
}