/* Container Styles */
.container {
    max-width: 600px;
    max-height: 800px;
    text-align: center;
}

/* Go Back Container Styles */
.go-back-container {
    width: calc(600px + 4rem); /* form width = 600px + 2rem padding on each side */
    display: flex;
    justify-content: space-between;
}

.table-container {
    max-height: 700px;
}

a {
    text-decoration: none;
    color: inherit;
}

.cemetery-picture {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
}

.profile-picture-column {
    width: 35%;
}

.table-container {
    max-height: 500px;
    text-align: center;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .go-back-container {
        width: calc(75% + 3rem); /* form width = 75% + 1.5rem padding on each side */
    }
    .cemetery-picture {
        max-width: 80%;
    }
}