/* Body Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #7ba973, #c9d6b8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}

/* Heading Styles */
h1 {
    text-align: center;
    color: #2e4620;
    margin-top: 0;
    margin-bottom: 1rem;
}

h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
}

/* Container Styles */
.container {
    background: #f4f8f1;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 100%;
}

/* Button Styles */
button {
    background: #5f7d46;
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #4b6234;
}

button:active {
    background: #394d28;
}

button:disabled, button:disabled:hover, button:disabled:active {
    background: #9c9c9c;
    cursor: not-allowed;
}

/* Go Back and Info Button Styles */
.go-back-button, .popup-button {
    display: inline-block;
    margin: 20px 0 10px 0;
    padding: 10px 20px;
    background-color: #f4f8f1;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s;
}

.go-back-button:hover, .popup-button:hover {
    background-color: #fff5e6;
}

.go-back-button:active, .popup-button:active {
    background-color: #e6d7c0;
}

/* Symbol Pictures Styles */
.symbol-picture {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
}

/* Footer Styles */
footer {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
}

/* Logo Styles */
.logo {
    display: block;
    max-width: 200px;
    height: auto;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        width: 75%;
        padding: 1.5rem;
    }
    .logo {
        max-width: 40%;
    }
}