/* Container Styles */
.container {
    max-width: 400px;
    text-align: center;
}

/* Buttons List Styles */
.buttons-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

/* Buttons Styles */
button {
    padding: 1rem 2rem;
    width: 10rem;
}

.rules {
    background: #ff6347;
}

.rules:hover {
    background: #ff4500;
}

.rules:active {
    background: #cc3600;
}

.victim {
    background: #721c24;
}

.victim:hover {
    background: #5f141b;
}

.victim:active {
    background: #4b1015;
}

.ranking {
    background: #004085;
}

.ranking:hover {
    background: #003366;
}

.ranking:active {
    background: #00264d;
}

.cemetery {
    background: #333;
}

.cemetery:hover {
    background: #292929;
}

.cemetery:active {
    background: #1f1f1f;
}