form {
    max-width: 600px;
    text-align: center;
}

.go-back-container {
    width: calc(600px + 4rem); /* form width = 600px + 2rem padding on each side */
}

input[type="file"] {
    font-size: 1rem;
    color: #3e5632;
    border: 1px solid #9cb88a;
    border-radius: 4px;
    cursor: pointer;
    width: 210px;
    margin: 10px;
}

button {
    padding: 0.75rem 1.5rem;
}

#profile-picture-input {
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

#profile-picture-input::-webkit-file-upload-button {
    visibility: hidden;
}

#profile-picture-input::before {
    content: attr(data-content);
    display: inline-block;
    background: #5f7d46;
    border: 1px solid #5f7d46;
    border-radius: 5px;
    padding: 10px 20px;
    outline: none;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    font-size: 16px;
    color: white;
    width: -webkit-fill-available;
    text-align: center;
}

#profile-picture-input:hover::before {
    background: #4b6234;
    border-color: #4b6234;
}

#profile-picture-input:active::before {
    background: #394d28;
    border-color: #394d28;
}

.profile-picture {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.profile-picture-placeholder {
    max-width: 40%;
    height: 10rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    align-content: center;
    background-color: #fff5e6;
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: #333;
    display: inline-block;

    p {
        padding: 2em;
    }
}

.logout-button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #cc0000;
    border: 1px solid #cc0000;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s;
    margin: 10px;
    width: calc(210px - 40px - 2px);
}

.logout-button:hover {
    background-color: #990000;
    border-color: #990000;
}

.logout-button:active {
    background-color: #660000;
    border-color: #660000;
}

@media (max-width: 768px) {
    .go-back-container {
        width: calc(75% + 3rem); /* form width = 75% + 1.5rem padding on each side */
    }
    .profile-picture-placeholder {
        max-width: 75%;

        p {
            padding: 1em;
        }
    }
    .logout-button {
        width: auto;
    }
}