/* Container Styles */
.container {
    max-width: 600px;
    max-height: 600px;
    text-align: center;
}

/* Go Back Container Styles */
.go-back-container {
    width: calc(600px + 4rem); /* form width = 600px + 2rem padding on each side */
    display: flex;
    justify-content: space-between;
}

.table-container {
    max-height: 500px;
}

a {
    text-decoration: none;
    color: inherit;
}

.dead-player {
    color: orange;
}

.gold {
    background-color: gold !important;
}

.silver {
    background-color: silver !important;
}

.bronze {
    background-color: #cd7f32 !important;
}

.self-user {
    background-color: #fff5e6 !important;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .go-back-container {
        width: calc(75% + 3rem); /* form width = 75% + 1.5rem padding on each side */
    }
}