/* Container Styles */
.container {
    max-width: 600px;
    max-height: 600px;
    text-align: center;
}

/* Go Back Container Styles */
.go-back-container {
    width: calc(600px + 4rem); /* form width = 600px + 2rem padding on each side */
    display: flex;
    justify-content: space-between;
}

.info-button {
    font-weight: normal;
}

.table-container {
    max-height: 500px;
}

a {
    text-decoration: none;
    color: inherit;
}

.dead-player {
    color: orange;
}

.gold {
    background-color: gold !important;
}

.silver {
    background-color: silver !important;
}

.bronze {
    background-color: #cd7f32 !important;
}

.self-user {
    background-color: #fff5e6 !important;
}

/* Info Popup Styles */
.info-popup {
    max-width: 500px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1001;
}

.info-popup.active {
    display: block;
}

.close-button {
    background-color: #ff5c5c;
    padding: 0.5rem 1rem;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.close-button:hover {
    background-color: #ff0000;
}

.close-button:active {
    background-color: #cc0000;
}

/* Backdrop Styles */
.backdrop {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.backdrop.active {
    display: block;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .go-back-container, .info-popup {
        width: calc(75% + 3rem); /* form width = 75% + 1.5rem padding on each side */
    }
}